<!DOCTYPE>
<html>

<head>
    <title>BTCS Wedding</title>
    <link rel="icon" href="../images/heart-icon.png">
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE = edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no'>
    <link rel='stylesheet' type='text/css' href='../css/main.css'>
    <link rel='stylesheet' href='../css/bootstrap.min.css'>
    <script type='text/javascript' src='../scripts/jquery-3.1.1.min.js'></script>
    <script type='text/javascript' src='../scripts/bootstrap.min.js'></script>
    <script type='text/javascript' src='../scripts/originalCode.js' async='false'></script>
</head>

<body>
    <div class="topnav theme-text-color">
        <ul class="theme-background-color box-shadow">
            <li>
                <a id=nav-home href="home.html">Home</a>
            </li>
            <li>
                <a id=nav-venue href="venue.html">Venue</a>
            </li>
            <li>
                <a id=nav-rsvp href="">RSVP</a>
            </li>
        </ul>
    </div>

    <div class='container-fluid'>

        <div class='row page-wrapper'>
            <div class='col-xs-1'></div>
            <div class='col-xs-10 center'>
                <p class='fs-xxl theme-text-color font-moon-light text-shadow'>RSVP</p>
            </div>
            <div class='col-xs-1'></div>
        </div>
    </div>
</body>

</html>