/*...Bootstrap Overrides...*/
p {
	margin: 0;
}

/*...Fonts...*/
@font-face {
    font-family: moon-bold;
    src: url(../fonts/moon-bold.otf);
}
.font-moon-bold {
	font-family: moon-bold;
}
@font-face {
    font-family: moon-light;
    src: url(../fonts/moon-light.otf);
}
.font-moon-light {
	font-family: moon-light;
}
@font-face {
    font-family: melika-script;
    src: url(fonts/melika-script.ttf);
}
.font-melika-script {
	font-family: melika-script;
}
.font-segoe {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
/*...Font Sizes...*/
.fs-xs {
	font-size: 11px;
}
.fs-s {
	font-size: 14px;
}
.fs-m {
	font-size: 32px;
}
.fs-l {
	font-size: 36px;
}
.fs-xl {
	font-size: 42px;
}
.fs-xxl {
	font-size: 45px;
}

/*...Generic...*/
.box-shadow {
	box-shadow:0 0 5px #ccc;
    -moz-box-shadow:0 0 5px #ccc;
    -webkit-box-shadow:0 0 5px #ccc;
}
.hidden {
	display: none;
}
.shadow {
	text-shadow: 0 0 4px #616161;
}
.center {
	text-align: center;
}

/*...Colors...*/
.theme-text-color {
	color: rgb(22, 194, 179);
}
.theme-background-color {
	background: rgb(22, 194, 179);
}
.rose {
	color: #EF597B;
}
.grey777 {
	color: #777;
}

/*...Elements...*/
html {
	min-height: 100%;
	overflow-y: scroll;
	position: relative;
}
body {
	/*background-attachment: fixed;
	background-size: 100vw auto;
	background-image: url('../images/gallery-cripps/cripps-sign.jpg');*/
	margin: 0 0 25px 0;
}
footer {
	color: rgb(179, 176, 176);
	font-size: 12px;
	height: 35px;
    width: 100%;
	left: 0;
    bottom: 0;
	overflow:hidden;
	position: absolute;
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: center;
}

/*...TemplateCanvas...*/
#template-container {
	padding: 60px 2.5% 60px 2.5%;
	z-index: 1;
}

/*...Nav Bar...*/
#nav-container {
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 10;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#nav-container ul {
	border-radius: 0px 0px 8px 8px;
	display: table;
	list-style: none;
	margin: -15px auto 0 auto;
	padding: 15px 0 0 0;
	position: relative;
	width: auto;
}
#nav-container ul li {
	float: left;
	margin: 0 -2px 0 0;
	padding: 0;
	position: relative;
	opacity: 0.89;
	text-decoration: none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#nav-container ul li:active {
	opacity: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#nav-container ul li:hover {
	opacity: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#nav-container ul li a {
	color: #fff;
	float: left;
	font-family: moon-light;
	font-size: 14px;
	padding: 12px 12px;
	text-align: center;
	text-decoration: none;
}
.nav-button {
	cursor: pointer;
}
.nav-hidden {
	margin-top: -50px;
}
.nav-left {
	border-radius: 0 0 0 8px;
}
.nav-right {
	border-radius: 0 0 8px 0;
}

/*...Venue...*/
#page-ve div div img{
	border-radius: 5px;
	padding: 3px;
}
#map-container {
	background: url('../images/loading.gif') center no-repeat;
	background-size: 60px 60px;
	padding: 5vh 0 1vh 0;
	width: 100%;
}
#accom-container {
	margin: 20px 0 20px 0;
}

.accom-default {
	border-radius: 5px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
}

/*...RSVP...*/
.rsvp-form {
	background: rgb(223, 248, 245);
	border: 2px dashed rgb(22, 194, 179);
	border-radius: 10px;
	padding: 14px 10px;
	max-width: 600px;
	margin: 10px auto 0 auto;
}
.rsvp-form p {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	margin: 10px 10% 0 10%;
	padding: 0 5%;
	width: 80%;
	text-align: center;
}
.rsvp-no-of-guests, .rsvp-travel-passengers {
	border: 1px solid rgb(22, 194, 179);
	border-radius: 5px;
	padding: 3px;
	margin: 6px 42.5% 0 42.5%;
	width: 15%;
	text-align: center;
	text-align-last: center;
}
.rsvp-input, .rsvp-tall-input {
	border: 1px solid rgb(22, 194, 179);
	border-radius: 5px;
	margin: 6px 25% 0 25%;
	padding: 3px;
	width: 50%;
	text-align: center;
	outline-color: rgb(95, 204, 193);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.rsvp-tall-input {
	height: 100px;
	resize: none;
}
.rsvp-travel-option {
    border: 1px solid rgb(22, 194, 179);
    border-radius: 5px;
	margin: 12px 25% 0 25%;
	padding: 12px 4px;
	text-align: center;
	text-align-last: center;
	height: 27px;
	width: 50%;
	outline-color: rgb(95, 204, 193);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.rsvp-btn-send {
	background: rgb(22, 194, 179);
	border: 1px solid rgb(22, 194, 179);
	border-radius: 5px;
	color: rgb(255, 255, 255);
	opacity: 0.89;
	font-family: moon-light;
	margin: 36px 35%;
	padding: 4px;
	width: 30%;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.rsvp-btn-send:hover {
	opacity: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.rsvp-btn-send:focus {
	outline-color: rgb(95, 204, 193);
}
/*...@Media...*/

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 545px) {
	.fs-s {
		font-size: 24px;
	}
	.fs-m {
		font-size: 28px;
	}
	.fs-l {
		font-size: 30px;
	}
	.fs-xl {
		font-size: 35px;
	}
	.fs-xxl {
		font-size: 38px;
	}
	 /*VENUE*/
	#page-ve div div .thumbnail {
		margin-left: 5%;
		width: 90%;
	}
	#map-container {
		width: 98%;
		margin: 0 0 0 2.5%;
	}

	/*RSVP*/
	.rsvp-input, .rsvp-tall-input, .rsvp-travel select {
		margin: 6px 10% 0 10%;
		width: 80%;
	}
	.rsvp-form p {
		margin: 10px 2.5% 0 2.5%;
		width: 95%;
	}
	.rsvp-travel-option {
		border: 1px solid rgb(22, 194, 179);
		border-radius: 5px;
		margin: 10px 10% 0 10%;
		padding: 4px;
		width: 80%;
	}
}
