/*...Bootstrap Overrides...*/
p {
	margin: 0 0 0 0;
}

/*...Fonts...*/
@font-face {
    font-family: moon-bold;
    src: url(../fonts/moon-bold.otf);
}
.font-moon-bold {
	font-family: moon-bold;
}
@font-face {
    font-family: moon-light;
    src: url(../fonts/moon-light.otf);
}
.font-moon-light {
	font-family: moon-light;
}
@font-face {
    font-family: melika-script;
    src: url(fonts/melika-script.ttf);
}
.font-melika-script {
	font-family: melika-script;
}
/*...Font Sizes...*/
.fs-s {
	font-size: 14px;
}
.fs-m {
	font-size: 32px;
}
.fs-l {
	font-size: 36px;
}
.fs-xl {
	font-size: 42px;
}
.fs-xxl {
	font-size: 45px;
}

/*...Generic...*/
.shadow {
	text-shadow: 0 0 4px #777;
}
.box-shadow {
	box-shadow: 0 0 13px #e6e6e6;
}
.small-glow {
	box-shadow: 0 0 10px 4px #ff6d6d;
}
.big-glow {
	box-shadow: 0 0 10px 7px #ff6d6d;
}
.center {
	text-align: center;
}

/*...Colors...*/
.theme-text-color {
	color: rgb(27, 216, 169);
}
.theme-background-color {
	background: rgb(27, 216, 169);
}
.rose {
	color: #EF597B;
}
.grey777 {
	color: #777;
}

/*...Elements...*/
html {
	min-height: 100%;
	overflow-y: scroll;
	position: relative;
}
body {
	background-color: transparent;
	margin: 0 0 25px 0;
}
footer {
	color: rgb(179, 176, 176);
	font-size: 12px;
	height: 35px;
    width: 100%;
	left: 0;
    bottom: 0;
	overflow:hidden;
	position: absolute;
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: center;
}

/*...TemplateCanvas...*/
#template-container {
	padding: 60px 20px 60px 20px;
}

/*...Nav Bar...*/
#nav-container {
	overflow: hidden;
	position: fixed;
	width: 100%;
}
#nav-container ul {
	border-radius: 0px 0px 15px 15px;
	display: table;
	list-style: none;
	margin: -15px auto 0 auto;
	padding: 15px 0 0 0;
	position: relative;
	text-align: center;
	width: auto;
}
#nav-container ul li {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#nav-container ul li a {
	color: #fff;
	float: left;
	font-family: moon-light;
	font-size: 14px;
    padding: 10px 10px;
    text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
}
#nav-container ul li a:hover {
	background-color: rgb(34, 145, 122);
	-webkit-transition: all .25s;
    -moz-transition: all .25s;
    transition: all .25s;
}
#nav-home {
	border-radius: 0 0 0 15px;
}
#nav-rsvp {
	border-radius: 0 0 15px 0;
}

/*...Us...*/

#page-us img {
	border-radius: 5px;
	padding: 4px;
}
#page-us p {
	padding-top: 5px;
}

/*...Venue...*/
#page-ve div div img{
	border-radius: 5px;
	padding: 3px;
}
#ve-pics {
	width: 90%;
	margin-left: 5%;
}
#map-container {
	width: 80%;
	margin: 0 0 80px 10%;
}
#accom-container {
	margin: 20px 0 80px 0;
}

.accom-default {
	border-radius: 5px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
	transition: 0.2s;
}
.accom-active {
	font-size: 20px;
}

/*...RSVP...*/


/*...@Media...*/

@media screen and (max-width: 768px) {
	#my-navbar {
		margin: 0 auto;
	}
	#my-navbar ul{
	  list-style-type: none;
	  padding: 0;
	}

}

@media screen and (max-width: 545px) {
	/*FONTS*/
	.fs-s {
		font-size: 24px;
	}
	.fs-m {
		font-size: 28px;
	}
	.fs-l {
		font-size: 30px;
	}
	.fs-xl {
		font-size: 35px;
	}
	.fs-xxl {
		font-size: 38px;
	}
	/*NAV*/
    #nav-links li {
    	font-size: 25px; 
    }

	 /*VENUE*/
	#page-ve div div .thumbnail {
		margin-left: 5%;
		width: 90%;
	}
	#map-container {
		width: 92%;
		margin: 0 0 80px 4%;
	}
}
