/*...Bootstrap Overrides...*/
p {
	margin: 0;
}

/*...Fonts...*/
@font-face {
    font-family: moon-bold;
    src: url(../fonts/moon-bold.otf);
}
.font-moon-bold {
	font-family: moon-bold;
}
@font-face {
    font-family: moon-light;
    src: url(../fonts/moon-light.otf);
}
.font-moon-light {
	font-family: moon-light;
}
@font-face {
    font-family: melika-script;
    src: url(fonts/melika-script.ttf);
}
.font-melika-script {
	font-family: melika-script;
}
.font-segoe {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}
/*...Font Sizes...*/
.fs-xs {
	font-size: 11px;
}
.fs-s {
	font-size: 15px;
}
.fs-m {
	font-size: 26px;
}
.fs-l {
	font-size: 36px;
}
.fs-xl {
	font-size: 42px;
}
.fs-xxl {
	font-size: 45px;
}

/*...Generic...*/
.box-shadow {
	box-shadow:0 0 5px #ccc;
    -moz-box-shadow:0 0 5px #ccc;
    -webkit-box-shadow:0 0 5px #ccc;
}
.hidden {
	display: none;
}
.shadow {
	text-shadow: 0 0 4px #616161;
}
.center {
	text-align: center;
}

/*...Colors...*/
.theme-text-color {
	color: rgb(22, 194, 179);
}
.theme-background-color {
	background: rgb(22, 194, 179);
}
.rose {
	color: rgb(239, 89, 123);
}
.grey777 {
	color: #777;
}

/*...Elements...*/
html {
	overflow-y: scroll;
	min-height: 100%;
}
body::after {
	background: url('../images/peony-flowers.jpg');
	background-color: #ffffff;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100vw;
	content: '';
	display: block;
	height: 120vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
footer {
	color: rgb(179, 176, 176);
	font-size: 12px;
	height: 35px;
    width: 100%;
	left: 0;
	bottom: 3;
	padding: 10px;
	overflow:hidden;
	position: absolute;
	font-family: Georgia, Times, "Times New Roman", serif;
	text-align: left;
}

/*...TemplateCanvas...*/
#template-container {
	padding: 60px 2.5% 0 2.5%;
	min-height: 96vh;
	z-index: 1;
}

/*...Nav Bar...*/
#nav-container {
	overflow: hidden;
	position: fixed;
	width: 100%;
	z-index: 10;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#nav-container ul {
	border-radius: 0px 0px 8px 8px;
	display: table;
	list-style: none;
	margin: -15px auto 0 auto;
	padding: 15px 0 0 0;
	position: relative;
	right: 0.5px;
	width: auto;
}
#nav-container ul li {
	float: left;
	margin: 0 -2px 0 0;
	padding: 0;
	position: relative;
	opacity: 0.89;
	text-decoration: none;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
#nav-container ul li:active {
	opacity: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#nav-container ul li:hover {
	opacity: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
#nav-container ul li a {
	color: #fff;
	float: left;
	font-family: moon-light;
	font-size: 14px;
	padding: 12px 12px;
	text-align: center;
	text-decoration: none;
}
.nav-button {
	cursor: pointer;
}
.nav-hidden {
	margin-top: -50px;
}
.nav-left {
	border-radius: 0 0 0 8px;
}
.nav-right {
	border-radius: 0 0 8px 0;
}

/*...Home...*/
.home-date {
	border: 1px solid rgba(22, 194, 177, 0.514);
	opacity: 0.75;
	border-radius: 10px;
	color: white;
	margin: 6px auto 10px auto;
	padding: 3px;
	max-width: 200px;
	text-align: center;
	outline-color: rgb(95, 204, 193);
}

/*...Venue...*/
#page-ve div div img{
	border-radius: 5px;
	padding: 3px;
}
#map-container {
	margin: 8px 10% 10px 10%;
	padding: 0;
	width: 80%;
}
.venue-map {
	background: url('../images/loading.gif') center no-repeat;
	background-size: 60px 60px;
	background-color: rgba(255, 255, 255, 0.432);;
}
#accom-container {
	margin: 20px 0 20px 0;
}

.accom-default {
	border-radius: 5px;
	color: #ffffff;
	font-size: 18px;
	padding: 10px;
	text-decoration: none;
}

/*...RSVP...*/
.rsvp-sending {
	background: url('../images/loading.gif') center no-repeat;
	background-size: 30px 30px;
	background-color: rgba(255, 255, 255, 0.432);
	border: 1px solid rgb(22, 194, 179);
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	margin: 0 auto;
	height: 100px;
	width: 100px;
}
.rsvp-check, .rsvp-sent {
	background-color: rgba(255, 255, 255, 0.432);
	border: 1px solid rgb(22, 194, 179);
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	margin: 0 auto;
	width: 60%;
}
.rsvp-form {
	background: rgba(255, 255, 255, 0.432);
	border: 1px solid rgb(22, 194, 179);
	border-radius: 10px;
	padding: 14px 10px;
	max-width: 600px;
	margin: 10px auto 0 auto;
}
.rsvp-label {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
	margin: 10px 10% 0 10%;
	padding: 0 5%;
	width: 80%;
	text-align: center;
}
.rsvp-select-number {
	border: 1px solid rgb(22, 194, 179);
	border-radius: 5px;
	padding: 3px;
	margin: 6px 25% 0 25%;
	width: 50%;
	text-align: center;
	text-align-last: center;
}
.rsvp-input, .rsvp-tall-input {
	border: 1px solid rgb(22, 194, 179);
	border-radius: 5px;
	margin: 6px 25% 0 25%;
	padding: 3px;
	width: 50%;
	text-align: center;
	outline-color: rgb(95, 204, 193);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.rsvp-tall-input {
	height: 90px;
	resize: none;
}
.rsvp-attending, .rsvp-coach-journey {
    border: 1px solid rgb(22, 194, 179);
    border-radius: 5px;
	margin: 12px 25% 0 25%;
	padding: 4px;
	text-align: center;
	text-align-last: center;
	height: 27px;
	width: 50%;
	outline-color: rgb(95, 204, 193);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.rsvp-btn {
	background: rgb(22, 194, 179);
	border: 1px solid rgb(22, 194, 179);
	border-radius: 5px;
	color: rgb(255, 255, 255);
	opacity: 0.89;
	font-family: moon-light;
	margin: 5px 35%;
	padding: 4px;
	width: 30%;
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
.rsvp-btn-send, .rsvp-btn-edit {
	margin: 5px auto;
	width: 60px;
}

.rsvp-btn::hover {
	opacity: 1;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
.rsvp-btn::focus {
	outline-color: rgb(95, 204, 193);
}
.rsvp-btn-edit {
	background: rgb(239, 89, 123);
	border: 1px solid rgb(235, 37, 83);
}
.rsvp-btn-edit::focus {
	outline-color: rgb(235, 37, 83);
}
.rsvp-robot-message {
	color: red;
	text-align: center;
}
/*...@Media...*/

@media screen and (max-width: 1000px) {
	body::after {
		background: url(../images/peony-flowers.jpg);
		background-color: #ffffff;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 160vh 100%;
		content: '';
		display: block;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
	}
}

@media screen and (max-width: 545px) {
	.fs-s {
		font-size: 12px;
	}
	.fs-m {
		font-size: 22px;
	}
	.fs-l {
		font-size: 30px;
	}
	.fs-xl {
		font-size: 35px;
	}
	.fs-xxl {
		font-size: 38px;
	}

	 /*VENUE*/
	#page-ve div div .thumbnail {
		margin-left: 5%;
		width: 90%;
	}
	#map-container {
		width: 100%;
		margin: 0 0 15% 0;
	}

	/*RSVP*/
	.rsvp-select-number {
		margin: 6px 10% 0 10%;
		width: 80%;
		text-align: center;
		text-align-last: center;
	}
	.rsvp-input, .rsvp-tall-input, .rsvp-travel select {
		margin: 6px 10% 0 10%;
		width: 80%;
	}
	.rsvp-form p {
		margin: 10px 2.5% 0 2.5%;
		width: 95%;
	}
	.rsvp-attending, .rsvp-coach-journey {
		border: 1px solid rgb(22, 194, 179);
		border-radius: 5px;
		margin: 10px 10% 0 10%;
		padding: 4px;
		width: 80%;
		text-align: center;
		text-align-last: center;
	}
	.rsvp-check, .rsvp-sent {
		width: 80%;
	}
}
